
.body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
   
    background-color: #0a0a0a; 
    margin: 0;
    padding: 0;
    color: #61dafb; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #61dafb;
  }
  
  a {
    color: white;
    text-decoration: none;
    position: relative;
  
    transition: color 0.3s;
  }
  
  a:hover {
    color: #4fc3f7;
    text-shadow: 0 0 5px #4fc3f7, 0 0 20px #65c8f7, 0 0 30px #4fc3f7;
    font-weight: bold;
  }
 
  /* section HEADER */

  .header {
    background-color: #0a0a0a; /* Noir glacé */
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: #61dafb; 
  }
  .loader {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
  }
  
  .loader-rotate {
    width: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    border: 6px solid #61dafb;
    border-top: #61dafb;
    border-bottom: #61dafb;
    position: relative;
  }
  
  .loader-rotate:after {
    content: "";
    border-radius: 100px;
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 6px solid transparent;
    border-top: 6px solid #99e2d0;
    border-bottom: 6px solid #99e2d0;
    animation: rotate 2s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* Styles pour le titre */
  .header-title {
    font-size: 36px;
    margin-bottom: 80px; 
    color:#61dafb;
  }
  .logo-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .outer-circle, .inner-circle {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0deg, #00508c, #61dafb, #00508c);
    border: 2px solid white ;

    animation: spin 5s linear infinite;
  }
  
  .inner-circle {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: conic-gradient(from 0deg, #00508c, #61dafb, #00508c);
    border: 1px solid white;
    animation: spin-reverse 5s linear infinite;
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
  }
  .initials {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Couleur du texte */
    text-shadow: 2px 2px 4px #0a0a0a; /* Effet d'ombre basé sur le noir #0a0a0a */
    line-height: 5px;
  }

  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  /* Styles pour la navigation */
  nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
   
    padding: 20px;
    
  }
  
  nav a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
  }
  /* Composant INTRODUCTION */
  .circle-container {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circular-image {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
    
  }

  /* Composant SLIDER */ 
  
  /* Composant SKILLS */
  .circular-logo{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    
  }
  
  /* Composant PROJECTS */
  
  /* Composant CONTACT */




  /* Composant FOOTER */
  .a{ display: flex;
       gap: 15px; 
}

